@import "~bootstrap/dist/css/bootstrap.css";


.col-centered{
    float: none;
    margin: 0 auto;
}


.dotted {
border: 1px dotted #ff0000; 
border-style: none none dotted; 
color: #fff; 
background-color: #fff;
}

